@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'RobotoFlex';
    src: url('./fonts/RobotoFlex.ttf')  format('truetype');
}
@font-face {
    font-family: 'AC-FatCord';
    src: url('./fonts/AC-FatCord.ttf')  format('truetype');
}
body {
    margin: 0;
}
#app {
    overflow: hidden;
}